<h1>Game#play</h1>

<div id="container-game-board">
	<table id="game-board" class="table">
		<tbody>
			<% 6.times do |row| %>
				<tr id=<%= "row-#{row}" %>>
					<% 7.times do |col| %>
						<td id=<%= "col-#{col}" %> class="container-slot col-<%= col %>">
							<%= "row: #{row} col: #{col}" %> 
							<div id=<%= "slot-#{row}-#{col}" %> class="slot-empty"></div>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>